<html>
    <body>
        
        <form id="user_form" method="post" action="/user_tickets/submit_ticket/">
            {% csrf_token %}
            <h2>Submit your issue here</h2>
            {% for field in submit_ticket_form.visible_fields %}
            {{ field.errors }}
            {{ field.help_text }}<br />
            {{ field }}<br />
            {% endfor %}
		<br />
            <!-- Provide a button to click to submit the form. -->
            <input type="submit" name="submit" value="Submit Issue"/>
        </form>
    </body>
</html>
